# Python
__pycache__/
*.py[cod]
*.pyo
.env

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Modèles et sorties lourdes
checkpoints/
*.pt
*.pkl
*.h5

# HTML interactifs générés
*.html

# Données brutes (restent dans MOMTSIM/)
*.csv
*.parquet

# OS
.DS_Store
Thumbs.db
